@config "../tailwind.config.ts";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: #f9fafb;
  color: #0f172a;
  -webkit-font-smoothing: antialiased;
}
